*, *::before, *::after {
  position: relative;
  box-sizing: border-box;
  transition: all 0.3s cubic-bezier(0.5, 0, 0.5, 1); }

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #C9D2DE; }

body {
  display: flex;
  justify-content: center;
  align-items: center; }

#app {
  width: 80%;
  height: 90vh;
  background: #BEC9D6;
  border-radius: 5vh;
  overflow: hidden;
  border: 4px solid #fffdf7;
  box-shadow: 0 3vh 10vh rgba(0, 0, 0, 0.3); }

.ui-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
  .ui-bg .ui-dot {
    width: 9vh;
    height: 9vh;
    border-radius: 50%;
    background: #F0F0F0;
    border-top: solid 2px #FFF;
    position: absolute;
    left: calc((33.3333% - 9vh) / 2);
    top: 0%;
    z-index: 2;
    transform: scale(0.85);
    box-shadow: 0px 0.5vh 1vh rgba(0, 0, 0, 0.3); }
  .ui-bg > .ui-cutout {
    width: 9vh;
    height: 9vh;
    left: calc((33.3333% - 9vh) / 2);
    z-index: 3;
    border-radius: 50%;
    box-shadow: 4.5vh 4.5vh 0 #F0F0F0, -4.5vh 4.5vh 0 #F0F0F0, 0 9vh 0 #F0F0F0; }
    .ui-bg > .ui-cutout:before, .ui-bg > .ui-cutout:after {
      content: '';
      position: absolute;
      width: 1500%;
      height: 130%;
      background-color: #fff;
      top: 30%;
      background: #F0F0F0;
      border-top: solid 2px #FFF; }
    .ui-bg > .ui-cutout:before {
      right: 100%;
      border-top-right-radius: 1vh; }
    .ui-bg > .ui-cutout:after {
      left: 100%;
      border-top-left-radius: 1vh; }

.ui-nav {
  overflow: hidden;
  position: absolute;
  z-index: 1;
  left: 1rem;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  text-align: center;
  border-radius: 1vmin 1vmin 4vmin 4vmin;
  height: 10vh; }

label {
  padding-top: 3.33333vh; }

.ui-label {
  flex: 1;
  display: flex;
  z-index: 5;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  font-size: 3.6vh; }
  .ui-label .icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: #5B6D7F;
    fill: #5B6D7F; }

.ui-pages {
  display: flex;
  width: 100%;
  height: 100%; }

.ui-page {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -100%; }

[data-page='1'] {
  background: #20ddf7; }

[data-page='2'] {
  background: #BEC9D6; }

[data-page='3'] {
  background: #f7eed1; }

[data-page] {
  opacity: 0;
  transform: translateX(-100%); }

input[name='choice'] {
  visibility: hidden;
  position: absolute; }

#nav-1:checked ~ * label[for="nav-1"] {
  font-weight: bold;
  padding-top: 0; }

#nav-1:checked ~ * .icon-1 {
  fill: #13bed5; }

#nav-2:checked ~ * label[for="nav-2"] {
  font-weight: bold;
  padding-top: 0; }

#nav-2:checked ~ * .icon-2 {
  fill: #BEC9D6; }

#nav-3:checked ~ * label[for="nav-3"] {
  font-weight: bold;
  padding-top: 0; }

#nav-3:checked ~ * .icon-3 {
  fill: #dfbb44; }

#nav-1:checked ~ * [data-page='1'] {
  opacity: 1;
  transform: translateX(0); }
  #nav-1:checked ~ * [data-page='1'] ~ [data-page] {
    transform: translateX(100%); }

#nav-2:checked ~ * [data-page='2'] {
  opacity: 1;
  transform: translateX(0); }
  #nav-2:checked ~ * [data-page='2'] ~ [data-page] {
    transform: translateX(100%); }

#nav-3:checked ~ * [data-page='3'] {
  opacity: 1;
  transform: translateX(0); }
  #nav-3:checked ~ * [data-page='3'] ~ [data-page] {
    transform: translateX(100%); }

.ui-bg {
  transform: translateX(calc(var(--x) * 33.3333%)); }

#nav-1:checked ~ #app {
  --x: 0; }

#nav-2:checked ~ #app {
  --x: 1; }

#nav-3:checked ~ #app {
  --x: 2; }
